---
import Layout from "../../layouts/Layout.astro";

import { getCollection } from "astro:content";
export async function getStaticPaths() {
    const allColors = await getCollection("colors");
    return allColors.map((color) => ({
        params: { slug: color.slug },
        props: { color },
    }));
}

const { color } = Astro.props;
const { Content } = await color.render();
---

<Layout title={color.data.name}>
    <div transition:persist class={`hex${color.data.hex} container`}>
        <!-- <div class="image-container">
            <img
                class="greyscale"
                src="/jurassic-park.jpg"
                alt="Jurassic Park"
                width={300}
                height={100}
            />
            <caption>Jurassic Park (1985)</caption>
        </div> -->
        <div class="color-info">
            <h1 class={`${color.data.textColor} color-heading`}>
                {color.data.name}
            </h1>
            <ul class="color-text">
                <li>Pantone: {color.data.pantone}</li>
                <li>Hex: {color.data.hex}</li>
                <li>RGB: {color.data.rgb}</li>
                <li>CMYK: {color.data.cmyk}</li>
            </ul>
        </div>
        <Content />
    </div>
</Layout>

<style>
    .container {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
    }

    ul {
        padding: 0;
    }

    li {
        list-style: none;
        padding: 0;
        animation:
            var(--animation-fade-in) forwards,
            var(--animation-slide-in-left);
        animation-timing-function: var(--ease-squish-2);
    }

    h1 {
        animation:
            var(--animation-fade-in) forwards,
            var(--animation-slide-in-right);
        animation-timing-function: var(--ease-squish-2);
    }

    .greyscale {
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
    }

    .black {
        color: black;
    }

    .white {
        color: white;
    }

    .image-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.25rem;
    }

    /* Magican's Red */
    .hexD1240D {
        background-color: #d1240d;
        color: white;
    }

    /* Strange Red */
    .hex801B0B {
        background-color: #801b0b;
        color: white;
    }

    /* Nivellan Brown */
    .hexC46647 {
        background-color: #c46647;
        color: black;
    }

    /* Aztec Gold */
    .hexE7B34E {
        background-color: #e7b34e;
        color: black;
    }

    /* Tatooine */
    .hexBDB2AD {
        background-color: #bdb2ad;
        color: black;
    }

    /* Indy Khaki */
    .hexE6D5C1 {
        background-color: #e6d5c1;
        color: black;
    }

    /* Midnight Blue */
    .hex16255D {
        background-color: #16255d;
        color: white;
    }

    /* Blue Screen */
    .hex4B80D4 {
        background-color: #4b80d4;
        color: black;
    }

    /* Saber Blue */
    .hex90B5D5 {
        background-color: #90b5d5;
        color: black;
    }

    /* Abyss Blue */
    .hexCDDADB {
        background-color: #cddadb;
        color: black;
    }

    /* T-100 */
    .hexCDCDCD {
        background-color: #cdcdcd;
        color: black;
    }

    /* Roger Rabbit */
    .hexF3EDE6 {
        background-color: #f3ede6;
        color: black;
    }

    /* Forrest Green */
    .hex171F1E {
        background-color: #171f1e;
        color: white;
    }

    /* Jurassic Green */
    .hex303D3A {
        background-color: #303d3a;
        color: white;
    }

    /* Grogu Green */
    .hex6F7F5E {
        background-color: #6f7f5e;
        color: black;
    }

    /* Delorean */
    .hex737373 {
        background-color: #737373;
        color: black;
    }

    /* Ironhide */
    .hex3F3F3F {
        background-color: #3f3f3f;
        color: white;
    }

    /* Panther Black */
    .hex000000 {
        background-color: #000000;
        color: white;
    }
</style>
