---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { getCollection } from "astro:content";

const allColors = await getCollection("colors");
---

<Layout title="Welcome to Astro.">
    <main>
        <div class="container">
            {
                allColors.map((color, index) => {
                    return (
                        <a href={`colors/${color.slug}`} class="link">
                            <Card
                                order={index}
                                name={color.data.name}
                                pantone={color.data.pantone}
                                hex={color.data.hex}
                                rgb={color.data.rgb}
                                cmyk={color.data.cmyk}
                            />
                        </a>
                    );
                })
            }
        </div>
    </main>
</Layout>

<style>
    .container {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
</style>
