---
interface Props {
    name: string;
    pantone: string;
    hex: string;
    rgb: string;
    cmyk: string;
    order: number;
}

const { name, pantone, hex, rgb, cmyk, order } = Astro.props;

const hexCode = "#" + hex;
const animationDelay = order;
---

<li class="link-card" transition:persist>
    <h1>{name}</h1>
    <p>{pantone}</p>
    <p>{hex}</p>
    <p>{rgb}</p>
    <p>{cmyk}</p>
</li>
<style define:vars={{ hexCode, animationDelay }}>
    .link-card {
        min-width: 100%;
        margin: 0;
        padding: 2rem 2rem 8rem 2rem;
        list-style: none;
        background-color: var(--hexCode);
        border-radius: 0.5rem;
        opacity: 0;
        animation:
            var(--animation-fade-in) forwards,
            var(--animation-slide-in-up);
        animation-duration: 500ms;
        animation-delay: calc(var(--animationDelay) * 0.15s);
        animation-timing-function: var(--ease-spring-1);
    }

    h1 {
        font-size: 2.5rem;
        font-weight: bold;
        line-height: 2;
        margin-bottom: 2rem;
    }
</style>
