---
interface Props {
    name: string;
    pantone: string;
    hex: string;
    rgb: string;
    cmyk: string;
    order: number;
    textColor: string;
}

const { name, pantone, hex, rgb, cmyk, order, textColor } = Astro.props;

const hexCode = "#" + hex;
const animationDelay = order;
---

<li class="link-card" transition:persist>
    <h1 class="color-heading">{name}</h1>
    <p class="color-text">Pantone: {pantone}</p>
    <p class="color-text">Hex: {hex}</p>
    <p class="color-text">RGB: {rgb}</p>
    <p class="color-text">CMYK: {cmyk}</p>
</li>
<style define:vars={{ hexCode, animationDelay, textColor }}>
    .link-card {
        width: 360px;
        margin: 0;
        padding: 2rem 2rem 8rem 2rem;
        list-style: none;
        background-color: var(--hexCode);
        border-radius: 0.5rem;
        opacity: 0;
        animation:
            var(--animation-fade-in) forwards,
            var(--animation-slide-in-up);
        animation-duration: 500ms;
        animation-delay: calc(var(--animationDelay) * 0.08s);
        animation-timing-function: var(--ease-spring-1);
        color: var(--textColor);
    }

    h1 {
        font-size: 2.5rem;
        line-height: 2;
        margin-bottom: 2rem;
        color: var(--textColor);
    }
</style>
